@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  background-color: #98d2e5;
  width: 160px;
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.li-list::before {
  background-color: #389bbc;
  color: #90E3FF;
  border-radius: 50%;
  padding: 3px 6px 3px 8px;
  text-align: center;
}

ol {
  counter-reset: myOrderedListItemsCounter;
}
ol li {
  list-style-type: none;
  position: relative;
}
ol li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter) ".";
  margin-right: 0.5em;
}
